@model CarrinhoCompraViewModel

<div class="container">
    <div class="row">
        <img src="/images/shoppingCart.svg" />

        <div>
            <h4>Seu Carrinho de ccompras : </h4>
        </div>

        <table class="table table-bordered table-striped">
             <thead>
                 <tr>
                     <th>Quantidade</th>
                     <th>Lanche</th>
                     <th class="text-right">Preços</th>
                     <th class="text-right">Subtotal</th>
                     <th></th>
                 </tr>
             </thead>

             <tbody>
                @foreach(var item in Model.CarrinhoCompra.CarrinhoCompraItens)
                {
                    <tr>
                        <td class="text-center">@item.Quantidade</td>
                        <td class="text.left">@item.Lanche.Nome</td>
                        <td class="text-right">@item.Lanche.Preco</td>
                        <td class=" text-right">@((item.Quantidade*item.Lanche.Preco).ToString("c"))</td>
                        <td class="text-center"><a asp-controller="CarrinhoCompra" asp-action="RemoverItemDoCarrinhoCompre"asp-route-lancheId="@item.Lanche.LancheId"><img src="~/images/lixeira.svg" /> </a></td>
                    </tr>
                }
            </tbody>

            <tfoot>
                <td colspan="3" class="text-right">Total</td>
                <td class="text-right">
                    @Model.CarrinhoCompraTotal.ToString("c")
                </td>
            </tfoot>
        </table>

        <div class="text-right">
            <div class="btn-group">
                <a class="btn-success" asp-controller="Pedido" asp-action="Checkout">Encerrar Pedido</a>
                    &nbsp;&nbsp;&nbsp;
                <a class=" btn btn-primary" asp-controller="Lanche" asp-action="List">Continuar Comprando></a>
            </div>
        </div>

    </div>
</div>